/* header */
.logo-header 
{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
 color: #000000
}
.header-partlogo
{
   color: #2196F3;
}
li
{
   list-style-type: none;
}
.header-link
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.header-link:hover
{
    color: #2196F3;
}
.header-mail
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.header-tel
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.main-button
{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.main-button:hover
{
  background-color: #2196F3;
}
.main-title
{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.main-items
{
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: #757575;
}
.main-section
 {
    background: #E5E5E5;
 }
 .header-section
 {
    background: #FFFFFF;
 }
 .footer-section
 {
    background: #2F303A;
 }
 .footer-logo
 {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000
 }

 .footer-adress
 {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
 }
.footer-email
 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
 }
 .footer-tel
 {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
 }
 .body-section
 {
    font-family: 'Roboto';  
 }
 a
 {
   text-decoration: none;
 }
 .footer-partlogo
 {
   color: #2196F3;
 }